<nav class="navbar navbar-fixed-top" id="home-header">
    <div class="container">
        <div class="navbar-header" id="logoArea">
            <h4>CS5610</h4>
            <h3>Web Development Course Page</h3></div>
        <div id="nav-area">
            <ul id="nav">
                <a > <li><h4>About-Me</h4></li></a>
                <a href="project/index.html"> <li><h4>Project</h4></li></a>
                <a href="assignment/index.html"> <li><h4>Assignment</h4></li></a>
                <a href="https://github.com/rajkumarmurukeshan/murukeshan-rajkumar-web-dev"> <li><h4>Github</h4></li></a>
            </ul>
        </div>
    </div>
</nav>
<div id="home-bg">
    <div class="container" id="body">
        <h3>Course Description</h3>
        <p>
            This course discusses Web development for sites that are dynamic, data driven and interactive. Focuses on the software development issues of integrating multiple languages, assorted data technologies, and Web interaction. Considers ASP.NET, C#, HTTP, HTML, CSS, XML, XSLT, JavaScript, AJAX, RSS/Atom, SQL, and Web services. Each student must deploy individually designed Web experiments that illustrate the Web technologies and at least one major integrative Web site project. Students may work in teams with the permission of the instructor. Each student or team must also create extensive documentation of their goals, plans, design decisions, accomplishments, and user guidelines. All source files must be open and be automatically served by a sources server.
        </p>
        <h3>About the Instructor</h3>
        <p>
            Prof. Jose Annunziato has been a software developer for the last 20 years actively working in a variety of industries including health care, telecomunications, financial, and defense. He has a broad experience working with various software technologies, integrating complex systems, and tons of first hand anectodes from the working in the trenches that he loves to share with his students. He has been teaching in various Universities around the Boston area for 15 years and is delighted to have found a home at Northeastern University.
        </p>
        <h3>Topics Covered</h3>
        <p>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>Web Services</li>
            <li>MongoDB</li>
            <li>MongoJS</li>
            <li>PassportJS</li>
        </ul>
        </p>
    </div>
</div>