<nav class="navbar navbar-fixed-top" id="home-header">
    <div class="container">
        <div class="navbar-header" id="logoArea">
            <h4>CS5610</h4>
            <h3>Web Development Course Page</h3></div>
        <div id="nav-area">
            <ul id="nav">
                <a> <li><h4>About-Me</h4></li></a>
                <a href="project/index.html"> <li><h4>Project</h4></li></a>
                <a href="assignment/index.html"> <li><h4>Assignment</h4></li></a>
                <a href="https://github.com/rajkumarmurukeshan/murukeshan-rajkumar-web-dev"> <li><h4>Github</h4></li></a>

            </ul>
        </div>
    </div>
</nav>