<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#" id="logo" class="navbar-brand">Xplore</a>
        <button id="main-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#/login"><h4>Login</h4></a></li>
                <li><a href="#"> <h4>Register</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id= "home-body">
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse">

</nav>
