<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#/main" id="logo" class="navbar-brand">Xplore</a>
        <button id="main-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#/user"><h4>{{model.user.firstName}}</h4></a></li>
                <li><a href="#/user/edit"> <h4>Edit Profile</h4></a></li>
                <li><a ng-click="model.logout()"> <h4>Logout</h4></a></li>
                <li><a ng-click="model.unregister()"> <h4>Delete Account</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="searchResultPage" class="container">
    <div class="row thumbnail">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <img id="searchImage" ng-src="{{model.user.displayPicture}}" class="img-rounded">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
            <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
            <p>
                <i class="fa fa-envelope"></i> {{model.user.email}} <br>
                <i class="fa fa-birthday-cake"></i> {{model.newDate}}
            </p>
        </div>
    </div>
    <div class="thumbnail" id="profileBodyThumbnail">
        <div id="tabs">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="pill" data-target="#timeline">Timeline</a></li>
                <li><a data-toggle="pill" data-target="#favorites">Favorites</a></li>
                <li><a data-toggle="pill" data-target="#bucketlist">Bucket List</a></li>
                <li><a data-toggle="pill" data-target="#photos">Photos</a></li>
            </ul>
            <div class="tab-content">
                <div id="timeline" class="tab-pane fade in active">
                    <div class="row">
                        <h3>Add Note</h3>
                    </div>
                    <div class="row">
                        <form>
                            <textarea type="text"
                                      rows="3"
                                      name="note"
                                      id="note"
                                      ng-model="commentValue"
                                      required class="form-control">
                            </textarea>
                            <button ng-click="model.addComment(commentValue)" class="btn btn-primary">Done</button>
                        </form>
                    </div>
                </div>
                <div id="favorites" class="tab-pane fade in active">

                </div>
                <div id="bucketlist" class="tab-pane fade in active">

                </div>
                <div id="photos" class="tab-pane fade">
                    <div class="row">
                        <div id="photosList" class="col-xs-12 col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <image id="searchImage" ></image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>