<script>
    $(function() {
        $( "#datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:2016',
            minDate: new Date(1950, 10 - 1, 25),
        });
    });
</script>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#/main" id="logo" class="navbar-brand">Xplore</a>
        <button id="main-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#/login"> <h4>Login</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container RegisterPageBody">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div id="registerPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Sign Up to <strong>Xplore</strong></h2>
                </div>
                <div class="panel-body">
                    <div ng-show= "model.error"
                         class="errorAlert alert alert-danger"
                         role="alert">
                        <p><strong>Error !! </strong> {{model.error}}</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input ng-model="firstName"
                                   type="text"
                                   required
                                   name="firstName"
                                   id="firstName"
                                   class="form-control"
                                   placeholder="*First Name">
                        </div>
                        <div class="form-group">
                            <input ng-model="lastName"
                                   type="text"
                                   name="lastName"
                                   id="lastName"
                                   class="form-control"
                                   required placeholder="*Last Name">
                        </div>
                        <div class="form-group">
                            <input ng-model="username"
                                   type="text"
                                   name="username"
                                   id="username"
                                   class="form-control"
                                   required placeholder="*Username">
                        </div>
                        <div class="form-group">
                            <input ng-model="email"
                                   type="email"
                                   name="email"
                                   id="email"
                                   class="form-control"
                                   required placeholder="*Email Address">
                        </div>
                        <div class="form-group">
                            <select ng-model="gender"
                                    type="text"
                                    name="gender"
                                    id="gender"
                                    class="form-control"
                                    required placeholder="*Gender">
                                <option value="" default selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input ng-model="dob"
                                   class="form-control"
                                   name="dob"
                                   placeholder="*Date Of Birth"
                                   id="datepicker"
                                   required type="text"/>
                        </div>
                        <div class="form-group">
                            <input ng-model="password"
                                   type="password"
                                   name="password"
                                   id="password"
                                   class="form-control"
                                   required placeholder="*Password">
                        </div>
                        <div class="form-group">
                            <input ng-model="passwordConfirmation"
                                   type="password"
                                   name="passwordConfirmation"
                                   id="passwordConfirmation"
                                   class="form-control"
                                   required placeholder="*Confirm Password">
                        </div>
                        <button type="submit"
                                ng-click="model.register(firstName,lastName,username,email,gender,dob,password,passwordConfirmation)"
                                class="btn btn-info pull-right" >Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
