
#logo {
    font-size: 30px;
    height: 60px;
    margin-top: 10px;
}

#main-toggle{
    margin-top: 16px;
}

.navbar-inverse {
    width: 100%;
    background: url("../images/BG5.jpg");
    opacity: 0.9;
}

#home-body {
    padding-top: 667px;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.pageBody {
    padding-top: 32px;
    width: inherit;
    position: relative;
    align-content: stretch;
    max-width: 100%;
    padding-bottom: 35px;
}

.form-control {
    margin: 5px;
}

.btn {
    margin: 5px;
}

#searchResult {
    padding-top: 10px;
}

body {
    /*background: url("../images/BWHP-background.jpg");*/
    width: 100%;
    height: 100%;
}

.img-responsive {
    background-size: cover;
    width: 100%;
}

#myCarousel {
    padding-top : 71px;
}

#Image1, #Image2, #Image3, #Image4 {
    height: 400px;
    width: 100%;
}

#searchImage {
    height: 270px;
    width: 100%;
}

#searchResultPage {
    padding-top: 90px;
}

.noDecoration{
    text-decoration: none;
    color: black;
}

#resultTag{
    padding-bottom: 10px;
    padding-left: 16px;
}

#tabs {
    padding-top: 15px;
}

#photosList{
    padding-top: 10px;
}

.loginPageBody {
    padding-top: 80px;
}

