
#logo {
    font-size: 30px;
    height: 60px;
    margin-top: 10px;
}

#main-toggle{
    margin-top: 16px;
}

.navbar-inverse {
    width: 100%;
    background: url("../images/BG5.jpg");
    opacity: 0.9;
}

#home-body {
    padding-top: 667px;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.pageBody {
    padding-top: 32px;
    width: inherit;
    position: relative;
    align-content: stretch;
    max-width: 100%;
    padding-bottom: 35px;
}

.form-control {
    margin: 5px;
}

.btn {
    margin: 5px;
}

#searchResult {
    padding-top: 10px;
    margin-top: 20px;
}

body {
    font-family: Rockwell;
    background-image: url(../images/body_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.83;
    filter:alpha(opacity=80);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-responsive {
    background-size: cover;
    width: 100%;
}

#myCarousel {
    padding-top : 71px;
}

#Image1, #Image2, #Image3, #Image4, #Image5{
    height: 400px;
    width: 100%;
}

#searchImage {
    height: 270px;
    width: 100%;
}

#editProfilePage{
    margin-top: 71px;
    padding-left: 21px;
    padding-right: 23px;
    padding-bottom: 15px;
}

#searchResultPage {
    padding-top: 90px;
    padding-bottom: 20px;
}

.noDecoration{
    text-decoration: none;
    color: black;
}

#resultTag{
    padding-bottom: 10px;
    padding-left: 16px;
}

#tabs {
    padding-top: 15px;
}

#photosList{
    padding-top: 10px;
}

.loginPageBody {
    padding-top: 120px;
}

.loginPageBody.thumbnail{
    padding-right: 15px;
    marging-top: 200px;
}

.RegisterPageBody {
    padding-top: 90px;
}

.ng-submitted input.ng-invalid {
    border-color: red;
}

.ng-submitted select.ng-invalid {
    border-color: red;
}

[ng-click],
[data-ng-click],
[x-ng-click],
[data-target] {
    cursor: pointer;
}

#commentImage{
    margin-left:-4px;
    height: 58px;
    width: 55px;
}

.boxed{
    border: 2px;
}

#tabs {
    padding-right: 24px;
    padding-bottom:20px;
    padding-left: 25px;
}



#venueImage{
    padding: 10px;
    height: 270px;
    width: 100%;
}

#usersCommentsHead{
    padding-bottom: 20px;
}

#commentValue{
    width: 94%;
}

#venueBodyThumbnail{
    margin-bottom: 7px;
}

#loginPageContent{
    padding: 10px;
    padding-right: 20px;
}


#logForm{
    padding-top: 10px;
}

#registerPanel{
    padding-right:10px;
}

#commentsList {
    margin-bottom:8px;
    padding: 5px;
}

#commentedUser{
    margin-top: -13px;
}

#deleteButton{
    margin-top: -11px;
    margin-right: -60px;
    font-size:11px;
}

#commentValueID{
    margin-left: 0px;
    margin-top: -4px;
    padding-right: 0px;
    padding-left: 0px;
}

#commentBlockId {
    margin-top: 3px;
}

.fav {
    text-decoration: none;
}

#favorites{
    padding-top: 27px;
    padding-bottom: 20px;
}

#friendsList{
    padding-top: 27px;
}

.favoritesCount{
    margin-left: 10px;
    margin-bottom: 20px;
}

#friendRequests{
    margin-top: 30px;
    margin-left: 10px;
}

.requestButton{
    margin-top: -5px;
    font-size:11px;
}


.frendListId {
    margin-top: 3px;
}

.frendListName{
    margin-top: -13px;
}

#timeline {
    margin-top: 15px;
}

#postSubmit {
    margin-bottom: 10px;
}

#postedBy{
    margin-left:-18px;
    margin-top: -13px;
}

#friendSearchResult {
    margin-left: 11px;
    margin-top: 10px;
}

#frndsList {
    margin-top: 10px;
    margin-left: 11px;
}

#profileDetails{
    margin-left: 8px;
}

#profileDetails i {
    margin-left: 7px;
    margin-right: 2px;
}

#profileDetails p{
    font-size: 15px;
}

#profileDetails h2{
    font-size: 30px;
}

.friendFavorite{
    margin-left: 12px;
    margin-top: -25px;
}

#adminUserImage {
    height: 58px;
    width: 55px;
}

#adminUserList {
    margin-top: 20px;
    margin-left: 10px;
}

#adminUserList h3 {
    margin-bottom: 22px;
}

#adminUsers {
    margin-top: -8px;
}

#adminUserSection{
    padding: 10px;
}

#deleteAdminButton{
    margin-top: 5px;
    margin-right: -60px;
    margin-left: -3px;
    font-size:11px;
}


#adminVenueImage {
    height: 58px;
    width: 55px;
}

#adminVenueList {
    margin-top: 20px;
    margin-left: 10px;
}

#adminVenueList h3 {
    margin-bottom: 22px;
}

#adminVenue {
    margin-top: -8px;
}

#adminVenueSection{
    padding: 10px;
}

#deleteVenueAdminButton{
    margin-top: 5px;
    margin-right: -60px;
    margin-left: -3px;
    font-size:11px;
}

#frendReq a h4 {
    margin-left: 9px;
    font-size: 20px;
}

#frendReq a{
    text-decoration: none;
}
