
#logo {
    font-size: 30px;
    height: 60px;
    margin-top: 10px;
}

#main-toggle{
    margin-top: 16px;
}

.navbar-inverse {
    width: 100%;
    background: url("../images/BG5.jpg");
    opacity: 0.9;
}

#home-body {
    padding-top: 667px;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.pageBody {
    padding-top: 32px;
    width: inherit;
    position: relative;
    align-content: stretch;
    max-width: 100%;
    padding-bottom: 35px;
}

.form-control {
    margin: 5px;
}

.btn {
    margin: 5px;
}

#searchResult {
    padding-top: 10px;
}

body {
    font-family: Rockwell;
    background-image: url(../images/body_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.83;
    filter:alpha(opacity=80);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-responsive {
    background-size: cover;
    width: 100%;
}

#myCarousel {
    padding-top : 71px;
}

#Image1, #Image2, #Image3, #Image4 {
    height: 400px;
    width: 100%;
}

#searchImage {
    height: 270px;
    width: 100%;
}

#searchResultPage {
    padding-top: 90px;
    padding-bottom: 20px;
}

.noDecoration{
    text-decoration: none;
    color: black;
}

#resultTag{
    padding-bottom: 10px;
    padding-left: 16px;
}

#tabs {
    padding-top: 15px;
}

#photosList{
    padding-top: 10px;
}

.loginPageBody {
    padding-top: 120px;
}

.loginPageBody.thumbnail{
    padding-right: 15px;
    marging-top: 200px;
}

.RegisterPageBody {
    padding-top: 90px;
}

.ng-submitted input.ng-invalid {
    border-color: red;
}

.ng-submitted select.ng-invalid {
    border-color: red;
}

[ng-click],
[data-ng-click],
[x-ng-click],
[data-target] {
    cursor: pointer;
}

#commentImage{
    height: 80px;
    width: 100%;
}

.boxed{
    border: 2px;
}

#tabs {
    padding-right: 24px;
    padding-bottom:20px;
    padding-left: 25px;
}



#venueImage{
    padding: 10px;
    height: 270px;
    width: 100%;
}

#usersCommentsHead{
    padding-bottom: 20px;
}

#commentValue{
    width: 94%;
}

#venueBodyThumbnail{
    margin-bottom: 7px;
}

#loginPageContent{
    padding-right: 15px;
}


#logForm{
    padding-top: 10px;
}

#registerPanel{
    padding-right:10px;
}

#commentsList {
    margin-bottom:8px;
    padding: 5px;
}

#commentedUser{
    margin-top: -13px;
}

#deleteButton{
    margin-right: -75px;
    font-size:11px;
}

#commentValueID{
    margin-left: -15px;
    margin-top: -4px;
}

