<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#/main" id="logo" class="navbar-brand">Xplore</a>
        <button id="main-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right" >
                <li ng-hide="currentXploreUser"><a href="#/login"><h4>Login</h4></a></li>
                <li ng-hide="currentXploreUser"><a href="#/register"> <h4>Register</h4></a></li>
                <li ng-show="currentXploreUser"><a href="#/user"><h4>{{model.user.firstName}}</h4></a></li>
                <li ng-show="currentXploreUser"><a href="#/user/edit"><h4>Edit Profile</h4></a></li>
                <li ng-show="currentXploreUser"><a ng-click="model.logout()"><h4>Logout</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
    $('.carousel').carousel({
        interval: 3000,
        pause: "false"
    });
    $('.carousel-control.left').click(function() {
        $('#myCarousel').carousel('prev');
    });
    $('.carousel-control.right').click(function() {
        $('#myCarousel').carousel('next');
    });
</script>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to = "0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to = "1"></li>
        <li data-target="#myCarousel" data-slide-to = "2"></li>
        <li data-target="#myCarousel" data-slide-to = "3"></li>
        <li data-target="#myCarousel" data-slide-to = "4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img id="Image1" src="images/Chiaia-Di-Luna-Beach-t2-851X315.jpg" alt="Image1">
        </div>
        <div class="item">
            <img id="Image2" src="images/welcome-to-paris.jpg" alt="Image2">
        </div>
        <div class="item">
            <img id="Image3" src="images/whale-watching-03.jpg" alt="Image3">
        </div>
        <div class="item">
            <img id="Image4" src="images/london2.jpg" alt="Image4">
        </div>
        <div class="item">
            <img id="Image5" src="images/Rio.jpg" alt="Image5">
        </div>

    </div>
</div>
<div class="container pageBody">
    <form>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-4">
                    <input class="form-control"
                           type="text"
                           placeholder="I'm looking for.."
                           required
                           ng-model="searchString" />
                </div>
                <div class="col-md-4">
                    <input class="form-control"
                           type="text"
                           placeholder="in city or zip-code.."
                           required
                           ng-model="searchLocation" />
                </div>
                <div class="col-md-4">
                    <button type="submit"
                            ng-click="model.searchPlaces(searchString,searchLocation)"
                            class="btn btn-block btn-primary">Search</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>
