<div class="container">
    <h1>Login</h1>
    <input ng-model="username"
           class = "form-control"
           type = "text"
           placeholder = "username" />
    <input ng-model="password"
           class="form-control"
           type = "password"
           placeholder = "password" />
    <a ng-click="model.login(username,password)"
       class="btn btn-block btn-primary">Login</a>
    <a ng-click="model.register()"
       class="btn btn-block btn-success">Register</a>
    <div ng-show= "model.error"
         class="alert alert-danger"
         role="alert">{{model.error}}</div>
</div>
