
<div class="container">
    <div ng-show= "model.error"
         class="errorAlert alert alert-danger"
         role="alert">{{model.error}}</div>

    <h1>Register</h1>
    <input ng-model="username"
           class = "form-control"
           type = "text"
           placeholder = "username"/>
    <input class="form-control"
           ng-model="password"
           type = "password"
           placeholder = "password"/>
    <input ng-model="verifyPassword"
           class="form-control"
           type = "password"
           placeholder = "verify password"/>
    <a ng-click="model.register(username,password,verifyPassword)"
       class="btn btn-block btn-primary">Register</a>
    <a class="btn btn-block btn-danger"
       href="#/login">Cancel</a>
</div>
