<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<wam-sortable data="model.widgets" model="model" callback="model.reorderWidgets(start,end)"></wam-sortable>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-play black-color"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a class="navbar-link">
                    <span id="widget-list-eye-icon" class="glyphicon glyphicon-eye-open black-color"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
</html>