<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#" class="navbar-brand">Web Development Course Page</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="about-me.html"><h4>About-Me</h4></a></li>
                <li><a href="project/index.html"> <h4>Project</h4></a></li>
                <li><a href="assignment/index.html"> <h4>Assignment</h4></a></li>
                <li><a href="https://github.com/rajkumarmurukeshan/murukeshan-rajkumar-web-dev"><h4>Github</h4></a></li>
            </ul>
        </div>
    </div>
</nav>
