#body {
    padding-top: 100px;
    width: inherit;
    position: relative;
    display: flex;
}

#home-bg {
    background: url("../images/BG7.jpg");
}

#home-header {
    height: 110px;
    width: 100%;
    background: url("../images/BG5.jpg");
}

.navbar-inverse {
    width: 100%;
    background: url("../images/BG5.jpg");

}

.navbar-brand {
    padding-top: 5px;
}

.navbar-brand h3 {
    margin-top: 10px;
}

.navbar-brand h4 {
    margin-bottom: -9px;
}

#abt-me-header{
    margin-top: 0px;
}